{% extends 'base.html.twig' %}

{% block title %}Accueil - Stubborn{% endblock %}

{% block body %}

<section class="home-container">
    <h1>Nos produits mis en avant</h1>
    <div class="featured-products">
        {% for product in featuredProducts %}
            <div class="featured-product-card">
                <img src="{{ asset('images/products/' ~ product.image) }}" alt="image du produit" role="img">
                <p><strong>{{ product.name }}</strong></p>
                <p>{{ product.price }} €</p>

                {# "Voir" button only if logged in#}
                {% if app.user %}
                    <a href="#{#{{ path('app_product_show', {id: product.id}) }}#}" class="product-btn">
                        Voir
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</section>
<section class="about-container">
    <h2>A propos de Stubborn</h2>
    <p class="about">
        Stubborn est une marque de sweat-shirts basée à Londres.
        Notre mission : proposer des produits de qualités et confortables,
        sans compromis sur votre look.
    </p>
    <ul>
        <li><strong>Adresse :</strong> Piccadilly Circus, London W1J 0DA, Royaume-Uni</li>
        <li><strong>Contact :</strong><a href="mailto:stubborn@blabla.com" target="_blank">stubborn@blabla.com</a></li>
        <li><strong>Slogan :</strong> Don't compromise on your look!</li>
    </ul>
</section>
{% endblock %}
