<footer>
    <div class="footer-container">
        <p>Information de la société :</p>
        <p>Stubborn</p>
        <p>Piccadilly Circus, London W1J 0DA, Royaume-Uni</p>
        <p>
            Contact :
            <a href="mailto:stubborn@blabla.com" target="_blank">
                stubborn@blabla.com
            </a>
        </p>
    </div>
</footer>