@import url('header.css');
@import url('footer.css');

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1;
}