header {
    border-bottom: 2px solid #000;
    padding: 15px 40px;
    background-color: #eff3f7;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.header-container a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
}

.header-container a.active {
    font-weight: bold;
    text-decoration: underline;
}

.logo{
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo img {
    height: 7.5rem;
    width: auto;
}