<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Stubborn Shop{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="page-container">
            {# Header global #}
            {% include "partials/_header.html.twig" %}

            <main class="content">
                {% block body %}{% endblock %}
            </main>
            
            {# Footer global #}
            {% include "partials/_footer.html.twig" %}
        </div>
    </body>
</html>
